

/* ================================
General
================================= */

body{
	/*! text-align: center; */
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6em;
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 18px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	color: #3a3a3a;
	font-weight: 700;
	margin-bottom: 22px;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}

.lead{
	font-weight: 400;
}

button {
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
button.navbar-toggle {
	background: #2b2b2b;
	border: none;
	color: #fff;
}

.btn-theme,.btn-theme:hover,.btn-theme:focus{
	color: #fff;
}
.btn-theme:hover{
	background: transparent !important;
	border-color: #999;
	color: #999;
}


/* ================================
margin, padding
================================= */
.mar-top0 {
	margin-top: 0;
}
.mar-top10 {
	margin-top: 10px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top30 {
	margin-top: 30px;
}
.mar-top40 {
	margin-top: 40px;
}


/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index:1000;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  outline: none;
}
/*--------------------------------------------------------------
# salman Section
--------------------------------------------------------------*/

#salman {
  width: 100%;
  height: 100vh;
  background: url("../img/2.jpg") top center;
  background-size: cover;
  position: relative;
}

#salman:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#salman .salman-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

#salman h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#salman h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

#salman .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#salman .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

/*=============
about
=============*/
/* About Section
--------------------------------*/

#about {
  padding: 65px 0 0 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

#about .content h2 {
  color: #0c2e8a;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  text-align: left;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #50d8af;
}

#about .content ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

#about .content ul li {
  padding-bottom: 10px;
}

/*=======================================
          servivess
=======================================*/
#services {
  padding: 65px 0 0 0;
}
.section-header h2 {
    font-size: 32px;
    color:#0c2e8a;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    text-align: left;
}
.section-header h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background:#ff0404;
    bottom: 0;
    left: 0;
    /*! text-align: center; */
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  text-align: ;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  /*! float: left; */
}

#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #50d8af 0%, #a3ebd5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  /*! margin-left: 100px; */
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
  text-align: ;
}

#services .box h4 a {
  color: #444;
  text-decoration: none;
}

#services .box p {
  font-size: 14px;
  /*! margin-left: 84px; */
  /*! margin-bottom: 0; */
  line-height: 24px;
  text-align: justify;
}

/* Call To Action Section
--------------------------------*/

#call-to-action {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/call-to-action-bg2.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  /*! text-align: center; */
}

#call-to-action .cta-text {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

#call-to-action .cta-btn:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}
/* Portfolio Section
--------------------------------*/

#portfolio {
  background: #f7f7f7;
  padding: 80px 0;
}

#portfolio #portfolio-wrapper {
  padding-right: 15px;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 45px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
  padding: 10px 22px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #2dc997;
  color: #fff;
}

#portfolio .portfolio-item {
  position: relative;
  height: 200px;
  overflow: hidden !important;
  margin-bottom: 15px;
  transition: all 350ms ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}

#portfolio .portfolio-item a {
  display: block;
  margin-right: 15px;
}

#portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details {
  height: 50px;
  background: #2dc997;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#portfolio .portfolio-item .details h4 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 8px 0 2px 8px;
  margin: 0;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #fff;
  font-size: 13px;
  padding-left: 8px;
}

#portfolio .portfolio-item:hover .details {
  bottom: 0;
}

#portfolio .portfolio-item:hover img {
  top: -30px;
}

/* ===========================
--- Services
============================ */
.service-box {
	background: #fff;
	border-bottom: 2px solid #f7f7f7;
	padding: 40px 20px;
}

.service-box:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	margin-top: -20px;
}

.service-icon {
	margin-bottom: 20px;
}

.service-desc h5 {
	text-transform: uppercase;
	font-weight: 700;
	color: #666;
	font-size: 18px;
	margin-bottom: 10px;
}
.service-desc .divider-header {
	margin-bottom: 30px;
}
/* Pricing Section
--------------------------------*/

#pricing {
  padding: 60px 0 60px 0;
  overflow: hidden;
}

#pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

#pricing h3 {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 28px;
}

#pricing h4 {
  font-size: 46px;
  color: #1dc8cd;
  font-weight: 300;
}

#pricing h4 sup {
  font-size: 20px;
  top: -20px;
}

#pricing h4 span {
  color: #bababa;
  font-size: 20px;
}

#pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

#pricing ul li {
  padding-bottom: 12px;
}

#pricing ul i {
  color: #1dc8cd;
  font-size: 18px;
  padding-right: 4px;
}

#pricing .get-started-btn {
  background: #515e61;
  display: inline-block;
  padding: 6px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

#pricing .featured {
  border: 2px solid #1dc8cd;
}

#pricing .featured .get-started-btn {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
}

/* Testimonials Section
--------------------------------*/
.section-title {
  font-size: 28px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  display: inline-block;
  position: relative;
}
.section-title:after,
.section-title:before {
  content: '';
  position: absolute;
  bottom: 0;
}
.section-title:after {
  height: 2px;
  background-color: rgba(252, 92, 15, 0.46);
  left: 25%;
  right: 25%;
}

.section-title:before {
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  background-color: #fc5c0f;
  left: 50%;
  transform: translatex(-50%);
  bottom: -6px;
  z-index: 9;
  border-radius: 50%;
}

/* CAROUSEL STARTS */
.customer-feedback .owl-item img {
  width: 85px;
  height: 85px;
}

.feedback-slider-item {
  position: relative;
  padding: 60px;
  margin-top: -40px;
}

.customer-name {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
}

.feedback-slider-item p {
  line-height: 1.875;
}

.customer-rating {
  background-color: #eee;
  border: 3px solid #fff;
  color: rgba(1, 1, 1, 0.702);
  font-weight: 700;
  border-radius: 50%;
  position: absolute;
  width: 47px;
  height: 47px;
  line-height: 44px;
  font-size: 15px;
  right: 0;
  top: 77px;
  text-indent: -3px;
}

.thumb-prev .customer-rating {
  top: -20px;
  left: 0;
  right: auto;
}

.thumb-next .customer-rating {
  top: -20px;
  right: 0;
}

.customer-rating i {
  color: rgb(251, 90, 13);
  position: absolute;
  top: 10px;
  right: 5px;
  font-weight: 600;
  font-size: 12px;
}

/* GREY BACKGROUND COLOR OF THE ACTIVE SLIDER */
.feedback-slider-item:after {
  content: '';
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 103px;
  background-color: #f6f6f6;
  border: 1px solid rgba(251, 90, 13, .1);
  border-radius: 10px;
  z-index: -1;
}

.thumb-prev,
.thumb-next {
  position: absolute;
  z-index: 99;
  top: 45%;
  width: 98px;
  height: 98px;
  left: -90px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.thumb-next {
  left: auto;
  right: -90px;
}

.feedback-slider-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.feedback-slider-thumb:hover {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.customer-feedback .owl-nav [class*="owl-"] {
  position: relative;
  display: inline-block;
  bottom: 45px;
  transition: all .2s ease-in;
}

.customer-feedback .owl-nav i {
  background-color: transparent;
  color: rgb(251, 90, 13);
  font-size: 25px;
}

.customer-feedback .owl-prev {
  left: -15px;
}

.customer-feedback .owl-prev:hover {
  left: -20px;
}

.customer-feedback .owl-next {
  right: -15px;
}

.customer-feedback .owl-next:hover {
  right: -20px;
}

/* DOTS */
.customer-feedback .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}
.customer-feedback .owl-dot {
  display: inline-block;
}

.customer-feedback .owl-dots .owl-dot span {
  width: 11px;
  height: 11px;
  margin: 0 5px;
  background: #fff;
  border: 1px solid rgb(251, 90, 13);
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 50%;
}

.customer-feedback .owl-dots .owl-dot.active span {
  background-color: rgb(251, 90, 13);
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
  .feedback-slider-item:after {
    left: 30px;
    right: 30px;
  }
  .customer-feedback .owl-nav [class*="owl-"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 45px;
    bottom: auto;
  }
  .customer-feedback .owl-prev {
    left: 0;
  }
  .customer-feedback .owl-next {
    right: 0;
  }
  
}

/* extra */
.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 1.6rem;
  background-color: #000;
}
.copyright a {
  display: inline-block;
  padding: 10px 2px;
}
.upwork {
  color: #37a000;
}
.upwork:after {
  content: '/';
  margin-left: 10px;
}
.fiverr {
  color: #1dbf73;
}
.copyright .triplebyte {
  display: block;
  padding-top: 0;
  color: #344759;
  text-decoration: underline;
} 

/* Team Section
--------------------------------*/

#team {
  padding: 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

#team .member .member-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  padding: 15px 0;
  background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
  transition: margin 0.2s;
  height: 40px;
  transition: height 0.4s;
}

#team .member:hover .member-info {
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  height: 80px;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #1bb1dc;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Contact
---------------------------------*/
.main-section.contact{
  padding:90px 0 100px;
}

.main-section.contact{
  background:url(../img/bg-map.png) left 190px no-repeat;
}


.contact_section{
  margin:0 0 60px 0;
  text-align: center;
  }
  
.contact_section h2{
  font-size:40px;
  color:#ffffff;
  margin:0 0 50px 0;
  text-transform:uppercase;
  }
  
.contact_block{
  text-align:center;
  }
  
.contact_block_icon{
    border-radius: 50%;
    height: 85px;
  width:85px;
  margin:0px auto 20px;
  }
.contact_block_icon.icon2{
  border-color:#7cc576;
  }
.contact_block_icon.icon3{
  border-color:#49b5e7;
  }
.contact_block_icon span {
    background: none repeat scroll 0 0 #f56eab;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
} 
.contact_block_icon.icon2{
  border-color:#7cc576;
  }
.contact_block_icon.icon2 span{
  background:#7cc576;
  }
.contact_block_icon.icon3{
  border-color:#49b5e7;
  }
.contact_block_icon.icon3 span{
  background:#49b5e7;
  }
.contact_block_icon i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: 26px;
    z-index: 20;
}
.contact_block span{
  display:block;
  font-size:16px;
  color:#ffffff;
  line-height:20px;
  }
  
.contact_block span a{
  display:block;
  font-size:16px;
  color:#ffffff;
  line-height:20px;
  }


.contact-info-box{
  font-size:15px;
  margin:0 0 14px 68px;
  padding-left:0;
  
}
.contact-info-box h3{
  font-size: 24px;
  font-weight:600;
  margin:0 0 40px;
  color:#fff;
}

.contact-info-box p{
  line-height:28px;
  display:block;
  font-size:16px;
  color:#ffffff;
  margin:0 0 40px;
}
.social-link{
  padding:35px 0;
  margin:0 0 0 68px;
  display:block;
  overflow:hidden;
  list-style:none;
}
.social-link li{
  float:left;
  margin-right:8px;
  
}
.social-link li a{
  display:block;
  width:41px;
  height:38px;
  border:3px solid #fff;
  border-radius:50%;
  text-align:center;
  line-height:31px;
  font-size:23px;
  color:#fff;
  background:#222222;
  border-radius:50%;
  transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
  text-decoration:none;
}
.twitter a:hover {
  background: #55acee;
}
.facebook a:hover {
  background: #3b5998;
}
.pinterest a:hover {
  background: #cb2026;
}
.gplus a:hover {
  background: #dd4b39;
}
.dribbble a:hover {
  background: #ea4c89;
}

.form{
  margin:0 66px 0 30px;
}
.input-text{
  padding:15px 16px;
  border:1px solid #ccc;
  width:100%;
  height:50px;
  display:block;
  border-radius:4px;
  font-size:15px;
  color:#aaa;
  font-family: 'Lato', sans-serif;
  margin:0 0 15px 0;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
  border: 1px solid #7cc576;
  outline:0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
  height:230px;
  resize:none;
  overflow:auto;
  font-family: 'Lato', sans-serif;
}
.input-btn{
  font-family: 'Dosis', sans-serif;
  width:175px;
  height:50px;
  letter-spacing: 0px;
  background:#7cc576;
  border-radius:3px;
  color:#ffffff;
  font-size:16px;
  text-transform:uppercase;
  font-weight:600;
  border:0px;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
  background: #fff;
  color: #222;
}
/* Footer
---------------------------------*/

.footer_section{ background:url(../img/pattern_bg.jpg) repeat left top;
}

.footer_bottom{
  border-top:1px solid #333333;
  padding:40px 0;
    text-align: center;
  }
  
.footer_bottom span{
  display:block;
  font-size:14px;
  color:#cccccc;
  text-align:center;
  }
  
.footer_bottom span a{
  display:inline-block;
  color:#7cc576;
  font-size:16px;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  } 

.footer_bottom span a:hover{
  color: #fff;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
  text-align: justify;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "HeroesAssemble", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  /*! border-left: 4px solid #18d26e; */
  color: #00c1c1;
}

#footer .footer-top .footer-info p {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Dreamwood DEMO", sans-serif;
    color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #18d26e;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #18d26e;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
  text-align: justify;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #18d26e;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
p {
    font-size: 1.4em;
}

/* Animation Timers
---------------------------------*/
.delay-02s { 
  animation-delay: 0.2s; 
  -webkit-animation-delay: 0.2s; 
}
.delay-03s { 
  animation-delay: 0.3s; 
  -webkit-animation-delay: 0.3s; 
}
.delay-04s { 
  animation-delay: 0.4s; 
  -webkit-animation-delay: 0.4s; 
}

.delay-05s { 
  animation-delay: 0.5s; 
  -webkit-animation-delay: 0.5s; 
}
.delay-06s { 
  animation-delay: 0.6s; 
  -webkit-animation-delay: 0.6s; 
}

.delay-07s { 
  animation-delay: 0.7s; 
  -webkit-animation-delay: 0.7s; 
}
.delay-08s { 
  animation-delay: 0.8s; 
  -webkit-animation-delay: 0.8s; 
}

.delay-09s { 
  animation-delay: 0.9s; 
  -webkit-animation-delay: 0.9s; 
}
.delay-1s { 
  animation-delay: 1s; 
  -webkit-animation-delay: 1s; 
}
.delay-12s { 
  animation-delay: 1.2s; 
  -webkit-animation-delay: 1.2s; 
}
